<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Detail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- master#head -->
         
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <script src="./vendor/modernizr/modernizr.js"></script>
    
    <link rel="stylesheet" href="./style/detail.page.css">    
        <!-- /master#head -->
        
    </head>
    <body>
    
        <!-- master#body -->
        
    <!-- foundation.master#header -->
    
    
    <header 
        id="navigation" 
        class="row-full contain-to-grid hide-for-small  exit-off-canvas"
    
        data-start     = " min-height: 100px; height: 10%; max-height: 130px; "
        data-100-start = " min-height: 50px;  height: 5%;  max-height: 65px;  "
    >
        
        
    <nav 
        data-top-bar 
        data-options="is_hover: false"
        
        class="top-bar" 
        role="navigation" 
        
        data-anchor-target = "#navigation"
        data-start         = " line-height: 100px; "
        data-100-start     = " line-height: 50px;  "
    >
        
        <ul class="title-area navigation_title">
            <li class="name">
                <h1>
                    <a 
                        href="#"
                        
                        data-anchor-target = "#navigation"
                        data-start         = " font-size: 20px; "
                        data-100-start     = " font-size: 15px; "
                    >Eventagent</a>
                </h1>
            </li>    
            <li class="toggle-topbar menu-icon"><a href="#"><span>&nbsp;</span></a></li>
        </ul>
        
        <section class="top-bar-section">
        
            <ul 
                class="right"
            
                data-anchor-target = "#navigation"
                data-start         = " font-size: 20px; "
                data-100-start     = " font-size: 15px; "    
            >
                <li><a href="#" class="navigation_button" data-dropdown="navigation_packages_dropdown" data-options="is_hover:true">Packages</a></li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
        <div id="navigation_packages_dropdown" data-dropdown-content class="medium content f-dropdown row navigation_packages_dropdown">
            <form>
                <div class="small-6 columns">
                    <h5 class="navigation_packages_dropdown_title">Event</h5>
                    <label><input name="filter[]" value="" type="checkbox">Indoor dance</label>
                    <label><input name="filter[]" value="" type="checkbox">Outdoor dance</label>
                    <label><input name="filter[]" value="" type="checkbox">Concerts</label>
                    <label><input name="filter[]" value="" type="checkbox">Theater</label>
                    <label><input name="filter[]" value="" type="checkbox">Sports</label>                        
                
                </div> 
                
                <div class="small-6 columns">
                    <h5 class="navigation_packages_dropdown_title">Package</h5>
                    <label><input name="filter[]" value="" type="checkbox">Bus package</label>
                    <label><input name="filter[]" value="" type="checkbox">Hotel</label>
                    <label><input name="filter[]" value="" type="checkbox">Camping</label>
                    <label><input name="filter[]" value="" type="checkbox">Tickets only</label>
                    <label><input name="filter[]" value="" type="checkbox">Diner and ticket</label>                        
                    <label><input name="filter[]" value="" type="checkbox">VIP</label>                        
                
                </div> 
                
                <button type="submit" class="small-12 columns button large">Filter</button>
            </form>                        
                                    
        </div>            
        
    </nav>



        
    </header>     
    
    <div id="top-bar-placeholder" class="hide-for-small"><!-- top bar place holder --></div>
    
    
    <nav data-offcanvas class="show-for-small tab-bar">
        
        <div class="left tab-bar-section exit-off-canvas">Event agent</div>

        <div class="right-small">
            <a href="#idOfRightMenu" role="button" aria-controls="idOfRightMenu" aria-expanded="false" class="right-off-canvas-toggle menu-icon" ><span></span></a>
        </div>
    </nav>

    <aside class="off-canvas-wrap right-off-canvas-menu">
        <ul class="off-canvas-list">
                        
            <li><a href="#">Packages</a></li>                        
            <li><a href="#">Why book?</a></li>
            <li><a href="#">Tell me more</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">General conditions</a></li>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy policy</a></li>
            
        </ul>
    </aside>
    


    <!-- /foundation.master#header -->
    
    <!-- foundation.master#content -->
    
    
    
    
    <section class="impression   exit-off-canvas" data-start     = " top: 10%; " data-100-start = " top: 5%;  ">
        
    <a href="javascript:void(0);" class=" impression_button-left "><img src="./content/arrow-left.png" alt="left"></a>
    

        
    <a href="javascript:void(0);" class=" impression_button-right "><img src="./content/arrow-right.png" alt="right"></a>
    
        
        <div data-slick='{"responsive":[{"settings":{"slidesToShow":2,"_keys":["slidesToShow"]},"_keys":["breakpoint","settings"],"breakpoint":1800},{"settings":{"slidesToShow":1,"_keys":["slidesToShow"]},"_keys":["breakpoint","settings"],"breakpoint":1200},{"settings":{"slidesToShow":1,"_keys":["slidesToShow"]},"_keys":["breakpoint","settings"],"breakpoint":600}],"arrows":true,"centerMode":false,"slidesToShow":3,"autoplay":false,"slide":".impression_panel","nextArrow":"\n    <a href=\"javascript:void(0);\" class=\" impression_button-right \"><img src=\"./content/arrow-right.png\" alt=\"right\"></a>\n    \n","prevArrow":"\n    <a href=\"javascript:void(0);\" class=\" impression_button-left \"><img src=\"./content/arrow-left.png\" alt=\"left\"></a>\n    \n"}'>
    <div class="impression_panel " ><p>&nbsp;</p></div>



    <div class="impression_panel " ><p>&nbsp;</p></div>



    <div class="impression_panel " ><p>&nbsp;</p></div>



    <div class="impression_panel " ><p>&nbsp;</p></div>



    <div class="impression_panel " ><p>&nbsp;</p></div>



    <div class="impression_panel " ><p>&nbsp;</p></div>

</div>                
    </section>

    
    
    <div id="impression_placeholder"><!-- impression placeholder --></div>
    
    
    <section id="detail" class="detail row-full  exit-off-canvas">
    
        <div class="small-12 small-centered columns row">
        
            <div class="small-12 medium-8 columns">
                <h3 class="detail_subTitle show-for-medium-up">
                    <a href="#" class="detail_show_map" data-reveal-id="packages_modal"><img src="./content/ShowOnMap.png" alt="Show on map"/>Show on map</a>
                    &nbsp;
                </h3>
                <h2 class="detail_title">Hotel Ibis Amsterdam Airport</h2>
                <h3 class="detail_subTitle">
                    A luxurious hotel near the airport 
                </h3>
                
                <div class="small-12 columns show-for-small-only">
                    <h2 class="detail_price">&euro;100.00</h2>
                    
                    <form 
                        method="GET"
                        target="_self"
                        action="./wizard.01.package.page.html"
                    >
                        <input type="hidden" name="package.id" value="1337">
                        <input type="hidden" name="package.name" value="Hotel Ibis Amsterdam Airport">
                        <input type="hidden" name="package.price" value="&euro;100.00">
                        <button type="submit" class="detail_book">Book now</button>
                    </form>
                    
                    <!-- 
                     | So why are the social media references here? The customer is buying somthing
                     | and we want to go though the sale process before we ask the user to tell their
                     | friends about their awesome purchase. -DRE
                     |-->
                     
                    <ul class="detail_social">
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Google+</a></li>
                    </ul>
                    
                </div>
                
                <div class="detail_description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend mauris sit amet eros cursus, id tristique libero eleifend. Ut finibus, ex sit amet pretium condimentum, odio metus ornare lorem, vitae elementum lectus felis id mi. Pellentesque urna orci, luctus vel elit eu, imperdiet dignissim sem. Mauris maximus vehicula purus in volutpat. Vestibulum in convallis elit, eu lobortis est. Mauris ut euismod risus, vel dapibus purus. Fusce pellentesque eros eget diam auctor egestas. In vitae urna id neque ultricies dignissim ac eget magna.</p>                    
                </div>
            
                <div class="row-full detail_feature_lists">
                
                                            <div class="medum-12 large-6 columns collapse">
                            <h5 class="detail_package_includes_title">Package includes</h5>
                            <ul class="detail_package_includes_list"><li>Package included feature</li>
<li>Package included feature</li>
<li>Package included feature</li>
<li>Package included feature</li>
<li>Package included feature</li>
<li>Package included feature</li></ul>
                        </div>
                                        
                                            <div class="medium-12 large-6 columns collapse">
                            <h5 class="detail_package_customize_title">Extra features</h5>
                            <ul class="detail_package_customize_list">
                                <li>customize option</li>
<li>customize option</li>
<li>customize option</li>
<li>customize option</li>
<li>customize option</li>
<li>customize option</li>
<li>customize option</li>                                
                            </ul>
                        </div>
                                    
                </div>
            
            </div>
            
            <div class="medium-4 columns show-for-medium-up">
                <h2 class="detail_price">&euro;100.00</h2>
                
                <form 
                    method="GET"
                    target="_self"
                    action="./wizard.01.package.page.html"
                >
                    <input type="hidden" name="package.id" value="1337">
                    <input type="hidden" name="package.name" value="Hotel Ibis Amsterdam Airport">
                    <input type="hidden" name="package.price" value="&euro;100.00">
                    <button type="submit" class="detail_book">Book now</button>
                </form>
                
                <!-- 
                 | So why are the social media references here? The customer is buying somthing
                 | and we want to go though the sale process before we ask the user to tell their
                 | friends about their awesome purchase. -DRE
                 |-->
                 
                <ul class="detail_social">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Google+</a></li>
                </ul>
                
            </div>
        
        </div>
        
        <div id="packages_modal" class="reveal-modal" data-reveal>
            <p>De kaart die hier moet komen moet uit het CMS komen.</p>
            <a class="close-reveal-modal">&#215;</a>            
        </div>              
            
    </section>


    
    
    <section id="testemonial" class="testemonial row-full  exit-off-canvas">

        <h6 class="testemonial_title text-center">Testimonial</h6>
                
        <div class="testemonial_container row small-12 small-centered columns"  data-equalizer>
            <a href="javascript:void(0);" class="testemonial_button -left small-1 columns" data-equalizer-watch>&nbsp;</a>
            
            <div class="small-10 columns testemonial_slickContainer" data-equalizer-watch>
                
                <div class="testemonial_slick" data-slick='{"autoplay":false,"slide":".testemonial_quote","nextArrow":".testemonial_button.-right","prevArrow":".testemonial_button.-left"}' data-equalizer-watch>
        
                    
    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">This event was amazing, would book again using Event agent!</p>
                        <p class="testemonial_quote_author">Sjaak vaak, tof festival 2014</p>         
                    </div>
    </div>



    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">Helemaal uit m'n plaat gegaan en toch in een goed bed geslapen.</p>
                        <p class="testemonial_quote_author">Alexandra soms, ander festival 2013</p>         
                    </div>
    </div>



    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">De reis tusssen schiphol en de ArenA was een gemakkelijk en comfertabel met de helicopter van Event agent.</p>
                        <p class="testemonial_quote_author">Kim ju nu, the C party 2014</p>         
                    </div>
    </div>



    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">Iemand zei eens iets zonder een bron/auteur vermelding te maken! Maar het was tof</p>
                        <p class="testemonial_quote_author"></p>         
                    </div>
    </div>


                
                </div>
        
            </div>
            
            <a href="javascript:void(0);" class="testemonial_button -right small-1 columns" data-equalizer-watch>&nbsp;</a>
        </div>
                
    </section>

    
    
    <!-- /content -->
    
    <!-- foundation.master#footer -->
        
        
                
                
                        
                
        
    <footer id="footer" class="footer row-full  exit-off-canvas">
    
        <div class="small-12 colunms row">
        
                
    <div class="footer_item image_item small-12 medium-3 columns phone">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/phone.png" alt="">
        </div>
        <div class="footer_item_label">            <p><a href="tel://+31652382328">+31 6 52 382 328</a></p>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns email">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/email.png" alt="">
        </div>
        <div class="footer_item_label">            <p><a href="mailto:travel@eventagent.nl">travel@eventagent.nl</a></p>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns info">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/info.png" alt="">
        </div>
        <div class="footer_item_label">            <ul>
                <li><a href="#">Disclaimer</a></li>    
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns mailinglist">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/mailinglist.png" alt="">
        </div>
        <div class="footer_item_label"> 
            <form method="POST" action="./email" target="email_frame">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="email" class="email_input" placeholder="Your email address">
                    </div>
                    <div class="small-2 columns">
                        <button type="submit" class="button postfix email_submit">OK</button>
                    </div>
                </div>
            </form>                
            <iframe src="about:blank" id="email_frame" name="email_frame"></iframe>
        </div>
    </div>

    
            
        </div>        
    
    </footer>

    
        <!-- /foundation.master#footer -->

        <!-- /master#body -->
        
        <!-- master#scripts -->
            <script>
        var require = {
            
                callback: function( ){
                
                                        require(
                        
                        [ 
                            "jquery", "skrollr", "foundation", 
                            
                            "foundation/dropdown", 
                            "foundation/topbar", 
                            "foundation/offcanvas", 
                            
                            "domReady!" 
                        ]
                            .concat([ "scripts/slick", "foundation/equalizer" ]),
                        
                                                function( $, skrollr, foundation ){
                        
                            $( document ).foundation( );                            
                            
                            if( window.matchMedia( foundation.media_queries.medium ).matches )
                                skrollr.init({ 
                                    forceHeight: false,
                                    mobileCheck: function( ){ return false; }
                                });                                
                            
                        }
                                            );
                                        
                }
            
            };            
    </script>
    <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>
        <!-- /master#scripts -->
    
    </body>
</html>