<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Detail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- master#head -->
         
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <script src="./vendor/modernizr/modernizr.js"></script>
    
    <link rel="stylesheet" href="./style/detail.page.css">    
        <!-- /master#head -->
        
    </head>
    <body>
    
        <!-- master#body -->
        
    <!-- foundation.master#header -->
            <header id="navigation" class="row-full">
    
            <div class="contain-to-grid">
            
                
    <nav class="top-bar navigation" data-topbar role="navigation">

        <ul class="title-area navigation_title">
            <li class="name">
                <h1><a href="#">Eventagent</a></h1>
            </li>    
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        
        <section class="top-bar-section">
        
            <ul class="right">
                <li><a href="#" class="navigation_button">Packages</a></li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
    </nav>


            
            </div>
        
        </header>    
        <!-- /foundation.master#header -->
    
    <!-- foundation.master#content -->
    
    
    
    
    <section class="impression " data-slick='{"slidesToShow":5,"autoplaySpeed":2500,"autoplay":true,"slide":".impression_panel","nextArrow":".impression .impression_button-right","prevArrow":".impression .impression_button-left"}'>
                
            
    <a href="javascript:void(0);" class=" impression_button-left ">&lt;</a>
    

            
    <a href="javascript:void(0);" class=" impression_button-right ">&gt</a>
    

                                          
        
    <div class="impression_panel " ><p>&nbsp;</p></div>



    <div class="impression_panel " ><p>&nbsp;</p></div>



    <div class="impression_panel " ><p>&nbsp;</p></div>



    <div class="impression_panel " ><p>&nbsp;</p></div>



    <div class="impression_panel " ><p>&nbsp;</p></div>



    <div class="impression_panel " ><p>&nbsp;</p></div>


                
    </section>

    
    
    
    <section id="detail" class="detail row-full">
    
        <div class="small-12 small-centered columns row">
        
            <div class="small-8 columns">
                <h1 class="detail_title">The package title</h1>
                <h3 class="detail_subTitle">Awesome detail sub title</h3>
                
                <div class="detail_description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend mauris sit amet eros cursus, id tristique libero eleifend. Ut finibus, ex sit amet pretium condimentum, odio metus ornare lorem, vitae elementum lectus felis id mi. Pellentesque urna orci, luctus vel elit eu, imperdiet dignissim sem. Mauris maximus vehicula purus in volutpat. Vestibulum in convallis elit, eu lobortis est. Mauris ut euismod risus, vel dapibus purus. Fusce pellentesque eros eget diam auctor egestas. In vitae urna id neque ultricies dignissim ac eget magna.</p>                    
                </div>
            
                <div class="row-full">
                
                                            <div class="small-6 columns">
                            <h6 class="detail_package_includes_title">The package already includes</h6>
                            <ul class="detail_package_includes_list"><li>Package included feature</li>
<li>Package included feature</li>
<li>Package included feature</li>
<li>Package included feature</li>
<li>Package included feature</li>
<li>Package included feature</li></ul>
                        </div>
                                        
                                            <div class="small-6 columns">
                            <h6 class="detail_package_customize_title">Make this package more awesome with</h6>
                            <ul class="detail_package_customize_list">
                                <li>customize option</li>
<li>customize option</li>
<li>customize option</li>
<li>customize option</li>
<li>customize option</li>
<li>customize option</li>
<li>customize option</li>                                
                            </ul>
                        </div>
                                    
                </div>
            
            </div>
            
            <div class="small-4 columns">
                <h1 class="detail_price">100.00</h1>
                
                <form 
                    method="GET"
                    target="_self"
                    action="./wizard.01.package.page.html"
                >
                    <input type="hidden" name="package.id" value="1337">
                    <input type="hidden" name="package.name" value="The package title">
                    <input type="hidden" name="package.price" value="100.00">
                    <button type="submit" class="detail_book">Book now</button>
                </form>
                
                <!-- 
                 | So why are the social media references here? The customer is buying somthing
                 | and we want to go though the sale process before we ask the user to tell their
                 | friends about their awesome purchase. -DRE
                 |-->
                 
                <!--
                <ul class="detail_social">
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Pinterest</li>
                    <li>Google+</li>
                </ul>
                -->
                
            </div>
        
        </div>
    
    </section>


    
    
    <section id="testemonial" class="testemonial row-full">

        <h6 class="testemonial_title text-center">Testemonials</h6>
                
        <div class="testemonial_container row-wide small-12 small-centered columns">
            <a href="javascript:void(0);" class="testemonial_button -left small-2 columns"><span>&lt;</span></a>
            
            <div class="small-8 columns testemonial_slickContainer">
                
                <div class="testemonial_slick" data-slick='{"slide":".testemonial_quote","nextArrow":".testemonial_button.-right","prevArrow":".testemonial_button.-left"}'>
        
                    
    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">This event was amazing, would book again using Event agent!</p>
                        <p class="testemonial_quote_author">Sjaak vaak, tof festival 2014</p>         
                    </div>
    </div>



    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">Helemaal uit m'n plaat gegaan en toch in een goed bed geslapen.</p>
                        <p class="testemonial_quote_author">Alexandra soms, ander festival 2013</p>         
                    </div>
    </div>



    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">De reis tusssen schiphol en de ArenA was een gemakkelijk en comfertabel met de helicopter van Event agent.</p>
                        <p class="testemonial_quote_author">Kim ju nu, the C party 2014</p>         
                    </div>
    </div>



    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">Iemand zei eens iets zonder een bron/auteur vermelding te maken! Maar het was tof</p>
                        <p class="testemonial_quote_author"></p>         
                    </div>
    </div>


                
                </div>
        
            </div>
            
            <a href="javascript:void(0);" class="testemonial_button -right small-2 columns"><span>&gt;</span></a>
        </div>
        
    </section>

    
    
    <!-- /content -->
    
    <!-- foundation.master#footer -->
        
        
                
                
                        
                
        
    <footer id="footer" class="footer row-full">
    
        <div class="small-12 colunms centered row-wide">
        
                
    <div class="footer_item small-3 columns">
        <i class="footer_item_charachter fi-telephone"></i>
        <div class="footer_item_label">            <p><a href="tel://+31652382328">+31 6 52 382 328</a></p>
        </div>
    </div>


    
    <div class="footer_item small-3 columns">
        <i class="footer_item_charachter fi-at-sign"></i>
        <div class="footer_item_label">            <p><a href="mailto:travel@eventagent.nl">travel@eventagent.nl</a></p>
        </div>
    </div>


    
    <div class="footer_item small-3 columns">
        <i class="footer_item_charachter fi-info"></i>
        <div class="footer_item_label">            <ul>
                <li><a href="#">Disclaimer</a></li>    
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </div>
    </div>


    
    <div class="footer_item small-3 columns">
        <i class="footer_item_charachter fi-mail"></i>
        <div class="footer_item_label"> 
            <form method="POST" action="./email" target="email_frame">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="email" class="email_input" placeholder="Your email address">
                    </div>
                    <div class="small-2 columns">
                        <button type="submit" class="button postfix email_submit">OK</button>
                    </div>
                </div>
            </form>                
            <iframe src="about:blank" id="email_frame" frameborder="0"></iframe>
        </div>
    </div>

    
            
        </div>        
    
    </footer>

    
        <!-- /foundation.master#footer -->

        <!-- /master#body -->
        
        <!-- master#scripts -->
            
    <script> 
        var require = { 
                callback: function( ){ 
                    require([ "scripts/slick", "foundation/topbar" ], function( $ ){
                        
                        $( document ).foundation( );        
                        
                    }); 
                } 
            };
    </script>
        <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>
    

        <!-- /master#scripts -->
    
    </body>
</html>