<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Disclaimer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- master#head -->
         
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <script src="./vendor/modernizr/modernizr.js"></script>
    
    <link rel="stylesheet" href="./style/disclaimer.page.css">    
        <!-- /master#head -->
        
    </head>
    <body>
    
        <!-- master#body -->
        
    <!-- foundation.master#header -->
            <header id="navigation" class="row-full">
    
            <div class="contain-to-grid">
            
                
    <nav class="top-bar navigation" data-topbar role="navigation" data-options="is_hover: false">

        <ul class="title-area navigation_title">
            <li class="name">
                <h1><a href="#">Eventagent</a></h1>
            </li>    
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        
        <section class="top-bar-section">
        
            <ul class="right">
                <li class="has-dropdown">
                    <a href="#" class="navigation_button">Packages</a>
                    <div class="dropdown row">
                        <form>
                            <div class="small-6 columns">
                                
                                <label><input type="checkbox">Indoor dance</label>
                                <label><input type="checkbox">Outdoor dance</label>
                                <label><input type="checkbox">Concerts</label>
                                <label><input type="checkbox">Theater</label>
                                <label><input type="checkbox">Sports</label>                        
                            
                            </div> 
                            
                            <div class="small-6 columns">
                                
                                <label><input type="checkbox">Bus package</label>
                                <label><input type="checkbox">Hotel</label>
                                <label><input type="checkbox">Camping</label>
                                <label><input type="checkbox">Tickets only</label>
                                <label><input type="checkbox">Diner and ticket</label>                        
                                <label><input type="checkbox">VIP</label>                        
                            
                            </div> 
                            
                            <button type="submit" class="small-12 columns button">Filter</button>
                        </form>                        
                                                
                    </div>                    
                </li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
    </nav>


            
            </div>
        
        </header>    
        <!-- /foundation.master#header -->
    
    <!-- foundation.master#content -->
        
    <section id="disclaimer" class="row-full">
        <div class="small-12 small-centered columns row">
            <div class="small-12 small-centered columns">
            
                <h6 class="text-center">General</h6>
            
                <h1 class="text-center">Disclaimer</h1>    
                
                <p>Ennui farm-to-table gentrify, retro flannel craft beer vegan small batch. Tousled Vice Pitchfork twee leggings. Fashion axe ethical ethnic YOLO, photo booth squid literally bespoke banh mi tofu selvage shabby chic. Stumptown banh mi ugh Austin post-ironic Vice. Ugh Schlitz cray, umami flexitarian wayfarers locavore seitan literally 3 wolf moon twee fixie meh. Chia Shoreditch Banksy freegan art party. Twee Austin selvage literally.</p>
                
                <h2>Due care</h2>
                <p>Beard Echo Park Tonx put a bird on it stumptown, chillwave organic Thundercats mlkshk Godard banjo iPhone mixtape. Mustache fashion axe vinyl High Life, synth YOLO pour-over deep v lo-fi plaid cornhole ugh next level twee. Neutra fashion axe keytar, shabby chic whatever crucifix hoodie Portland Tonx. Asymmetrical Austin chillwave scenester. Cred farm-to-table Portland, actually Williamsburg sriracha plaid ethnic fingerstache food truck Brooklyn swag typewriter. Jean shorts food truck Pinterest disrupt, master cleanse biodiesel pork belly polaroid gentrify XOXO kogi letterpress. Carles Cosby sweater yr viral tattooed Etsy.</p>
                
                <h2>Qualification</h2>
                <p>Master cleanse ethical tousled Echo Park, messenger bag PBR&B try-hard 90's. Wes Anderson viral actually, PBR irony lomo hashtag meh flexitarian leggings. Leggings swag street art mixtape, mustache tattooed selvage. Tote bag yr messenger bag food truck, fashion axe Neutra Austin twee brunch butcher. Ethnic Tonx cray banh mi Marfa. Tumblr YOLO mustache, irony Williamsburg church-key before they sold out sustainable twee organic. Meggings mixtape Pitchfork banh mi umami paleo.</p>
                
                <h2>Published travel sums</h2>
                <p>Sriracha crucifix typewriter, farm-to-table seitan photo booth Tumblr letterpress Neutra locavore. Small batch Shoreditch quinoa jean shorts McSweeney's occupy, mixtape pug VHS. Kogi ethical blog vinyl keffiyeh food truck, craft beer Shoreditch wolf McSweeney's meggings Pitchfork. Twee mixtape banh mi, put a bird on it +1 art party kitsch kale chips food truck Pitchfork narwhal chillwave. Sriracha small batch lo-fi messenger bag. Whatever pour-over sriracha, irony chia squid vegan Williamsburg asymmetrical synth gluten-free vinyl skateboard pickled. Lo-fi Kickstarter slow-carb craft beer, normcore biodiesel mlkshk disrupt selvage.</p>
                
                <h2>Hyperlinks</h2>
                <p>DIY 8-bit small batch blog. Godard hella High Life, Odd Future chillwave synth twee organic kitsch vegan bespoke Pitchfork PBR. Pour-over forage 90's, Neutra shabby chic actually sartorial. Tote bag Pitchfork polaroid, Godard Wes Anderson synth fashion axe umami plaid messenger bag kogi tofu. Intelligentsia stumptown 8-bit, authentic scenester selfies yr skateboard beard drinking vinegar 3 wolf moon seitan hella slow-carb. Twee Vice keytar hoodie seitan, +1 bitters put a bird on it raw denim slow-carb swag. Narwhal tattooed four loko, leggings hella tousled wayfarers swag typewriter raw denim Vice messenger bag craft beer Cosby sweater McSweeney's.</p>
                
                <h2>Electronic communication and evidence</h2>
                <p>Skateboard Intelligentsia sartorial vegan Schlitz. Beard YOLO asymmetrical crucifix, art party gluten-free roof party Williamsburg. Ethical Williamsburg drinking vinegar, PBR raw denim photo booth gentrify kitsch normcore put a bird on it keffiyeh. Disrupt kogi deep v, Schlitz Cosby sweater freegan yr squid craft beer Odd Future keffiyeh. Crucifix kitsch bicycle rights synth McSweeney's. Bitters keffiyeh sartorial, four loko selfies yr dreamcatcher. Fap sriracha artisan, pickled literally narwhal banh mi +1.</p>
                
                <h2>Qualidication system</h2>
                <p>Hella quinoa locavore, direct trade Thundercats forage fingerstache. Forage ennui ethical small batch Banksy wayfarers. Ethnic selvage raw denim salvia, yr plaid fashion axe beard polaroid pour-over shabby chic distillery swag craft beer jean shorts. Keytar seitan pickled pour-over viral. Plaid cray blog, fixie butcher church-key crucifix sartorial viral. Tofu Portland deep v cornhole. American Apparel stumptown four loko single-origin coffee.</p>
    
            </div>
        </div>
    </section>
    
    <!-- /content -->
    
    <!-- foundation.master#footer -->
        
        
                
                
                        
                
        
    <footer id="footer" class="footer row-full">
    
        <div class="small-12 colunms row">
        
                
    <div class="footer_item image_item small-12 medium-3 columns phone">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/phone.png">
        </div>
        <div class="footer_item_label">            <p><a href="tel://+31652382328">+31 6 52 382 328</a></p>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns email">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/email.png">
        </div>
        <div class="footer_item_label">            <p><a href="mailto:travel@eventagent.nl">travel@eventagent.nl</a></p>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns info">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/info.png">
        </div>
        <div class="footer_item_label">            <ul>
                <li><a href="#">Disclaimer</a></li>    
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns mailinglist">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/mailinglist.png">
        </div>
        <div class="footer_item_label"> 
            <form method="POST" action="./email" target="email_frame">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="email" class="email_input" placeholder="Your email address">
                    </div>
                    <div class="small-2 columns">
                        <button type="submit" class="button postfix email_submit">OK</button>
                    </div>
                </div>
            </form>                
            <iframe src="about:blank" id="email_frame" name="email_frame" frameborder="0"></iframe>
        </div>
    </div>

    
            
        </div>        
    
    </footer>

    
        <!-- /foundation.master#footer -->

        <!-- /master#body -->
        
        <!-- master#scripts -->
            
    <script> 
        var require = { 
                callback: function( ){ 
                    require([ "jquery", "foundation/topbar" ], function( $ ){
                        
                        $( document ).foundation( );        
                        
                    }); 
                } 
            };
    </script>
        <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>
    

        <!-- /master#scripts -->
    
    </body>
</html>