<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Impression page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- master#head -->
        
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <script src="./vendor/modernizr/modernizr.js"></script>
    
    <link rel="stylesheet" href="./style/impression.page.css">
    
        <!-- /master#head -->
        
    </head>
    <body>
    
        <!-- master#body -->
        
    <!-- foundation.master#header -->
            <header id="navigation" class="row-full">
    
            <div class="contain-to-grid">
            
                
    <nav class="top-bar navigation" data-topbar role="navigation" data-options="is_hover: false">

        <ul class="title-area navigation_title">
            <li class="name">
                <h1><a href="#">Eventagent</a></h1>
            </li>    
            <li class="toggle-topbar menu-icon"><a href="#"><span>&nbsp;</span></a></li>
        </ul>
        
        <section class="top-bar-section">
        
            <ul class="right">
                <li>
                    <a href="#" class="navigation_button" data-dropdown="navigation_packages_dropdown" data-options="is_hover:true">Packages</a>
                    
                </li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
        <div id="navigation_packages_dropdown" data-dropdown-content class="medium content f-dropdown row navigation_packages_dropdown">
            <form>
                <div class="small-6 columns">
                    <h5 class="navigation_packages_dropdown_title">Event</h5>
                    <label><input name="filter[]" value="" type="checkbox">Indoor dance</label>
                    <label><input name="filter[]" value="" type="checkbox">Outdoor dance</label>
                    <label><input name="filter[]" value="" type="checkbox">Concerts</label>
                    <label><input name="filter[]" value="" type="checkbox">Theater</label>
                    <label><input name="filter[]" value="" type="checkbox">Sports</label>                        
                
                </div> 
                
                <div class="small-6 columns">
                    <h5 class="navigation_packages_dropdown_title">Package</h5>
                    <label><input name="filter[]" value="" type="checkbox">Bus package</label>
                    <label><input name="filter[]" value="" type="checkbox">Hotel</label>
                    <label><input name="filter[]" value="" type="checkbox">Camping</label>
                    <label><input name="filter[]" value="" type="checkbox">Tickets only</label>
                    <label><input name="filter[]" value="" type="checkbox">Diner and ticket</label>                        
                    <label><input name="filter[]" value="" type="checkbox">VIP</label>                        
                
                </div> 
                
                <button type="submit" class="small-12 columns button large">Filter</button>
            </form>                        
                                    
        </div>                    
        
    </nav>
    
    


            
            </div>
        
        </header>    
        <!-- /foundation.master#header -->
    
    <!-- foundation.master#content -->
    
    
    
    
    <section class="impression " data-slick='{"autoplaySpeed":1000,"autoplay":false,"slide":".impression_panel","nextArrow":".impression .impression_button-right","prevArrow":".impression .impression_button-left"}'>
                
            
    <a href="javascript:void(0);" class=" impression_button-left ">&lt;</a>
    

            
    <a href="javascript:void(0);" class=" impression_button-right ">&gt</a>
    

                                          
        
    <div class="impression_panel " >
        <div class="content">
            <h1>An sensational event</h1>
            
            <h3>Book tickets now!</h3>
            
            <a href="#packages" class="button">To packages</a>
        </div>
    
    </div>



    <div class="impression_panel " >
        <div class="content">
            <h1>An sensational event</h1>
            
            <h3>Book tickets now!</h3>
            
            <a href="#packages" class="button">To packages</a>
        </div>
    
    </div>



    <div class="impression_panel " >
        <div class="content">
            <h1>An sensational event</h1>
            
            <h3>Book tickets now!</h3>
            
            <a href="#packages" class="button">To packages</a>
        </div>
    
    </div>



    <div class="impression_panel " >
        <div class="content">
            <h1>An sensational event</h1>
            
            <h3>Book tickets now!</h3>
            
            <a href="#packages" class="button">To packages</a>
        </div>
    
    </div>



    <div class="impression_panel " >
        <div class="content">
            <h1>An sensational event</h1>
            
            <h3>Book tickets now!</h3>
            
            <a href="#packages" class="button">To packages</a>
        </div>
    
    </div>


                
    </section>

       
    
                    
    
    <section class="row-full reasons">
      
        <div class="small-12 columns row small-centered" data-equalizer>
            <h1 class="reasons_title">4 reasons why book with Sensation travel?</h1> 
            
    <div class="small-12 medium-6 large-3 columns reasons_reason">
        <h2 class="reasons_reason_number"  >1</h2>    
        <h3 class="reasons_reason_subTitle"  data-equalizer-watch>Good rates</h3>
        <p  class="reasons_reason_reason"  >Sensation will offer you the best possible rate, no hidden costs or additional service charges!</p>            
    </div>



    <div class="small-12 medium-6 large-3 columns reasons_reason">
        <h2 class="reasons_reason_number"  >2</h2>    
        <h3 class="reasons_reason_subTitle"  data-equalizer-watch>Quality hotels</h3>
        <p  class="reasons_reason_reason"  >We have carefully selected the hotels in amsterdam you will be treated as a member of the royal family.</p>            
    </div>



    <div class="small-12 medium-6 large-3 columns reasons_reason">
        <h2 class="reasons_reason_number"  >3</h2>    
        <h3 class="reasons_reason_subTitle"  data-equalizer-watch>Official tickets</h3>
        <p  class="reasons_reason_reason"  >All packages include official tickets, no fraudulent aftermarket tickets or trouble at the gates!</p>            
    </div>



    <div class="small-12 medium-6 large-3 columns reasons_reason">
        <h2 class="reasons_reason_number"  >4</h2>    
        <h3 class="reasons_reason_subTitle"  data-equalizer-watch>Customize your package</h3>
        <p  class="reasons_reason_reason"  >Extend your stay by joining us at the after party or turn your sensation experiance in to a true vacation.</p>            
    </div>


        </div>
        
        <a href="#packages" class="small-11 medium-3 small-centered columns reasons_button">To packages</a>
                
    </section>




    
    <section id="packages" class="packages row-full">
            
        <h6 class="packages_header text-center">Products</h6>            
        <h1 class="packages_title text-center">Packages</h1>
            
        <!-- --><hr class='packages_divider'/>
<div class="package row small-12 small-centered columns">
    <div class="small-12 medium-8 columns package_info">
        <h2 class="package_info_title">Hotel Ibis Amsterdam Airport</h2>
        <h3 class="subheader package_info_subTitle">Hotel sub title</h3>
        
        <div class="row">
            <img class="package_info_image small-12 medium-4 columns" src="./content/hotels/001.jpg">
            <div class="package_info_panel small-12 medium-8 columns">
                <div class="package_info_wrapper">
                    <ul class="package_info_features">
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                    </ul>                        
                    
                    <p><a class="package_info_map">Show on map</a></p>                
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="small-12 medium-4 columns package_cta">
        <h2 class="package_cta_price">&euro;100,00 p.p</h2>
        <a href="./detail.page.html?package.id=0" class="package_cta_button">More information</a>
    </div>
    
</div>

<hr class='packages_divider'/>
<div class="package row small-12 small-centered columns">
    <div class="small-12 medium-8 columns package_info">
        <h2 class="package_info_title">Hostel Stayokay</h2>
        <h3 class="subheader package_info_subTitle">Hotel sub title</h3>
        
        <div class="row">
            <img class="package_info_image small-12 medium-4 columns" src="./content/hotels/002.jpg">
            <div class="package_info_panel small-12 medium-8 columns">
                <div class="package_info_wrapper">
                    <ul class="package_info_features">
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                    </ul>                        
                    
                    <p><a class="package_info_map">Show on map</a></p>                
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="small-12 medium-4 columns package_cta">
        <h2 class="package_cta_price">&euro;100,00 p.p</h2>
        <a href="./detail.page.html?package.id=0" class="package_cta_button">More information</a>
    </div>
    
</div>

<hr class='packages_divider'/>
<div class="package row small-12 small-centered columns">
    <div class="small-12 medium-8 columns package_info">
        <h2 class="package_info_title">Novotel Amsterdam City</h2>
        <h3 class="subheader package_info_subTitle">Hotel sub title</h3>
        
        <div class="row">
            <img class="package_info_image small-12 medium-4 columns" src="./content/hotels/003.jpg">
            <div class="package_info_panel small-12 medium-8 columns">
                <div class="package_info_wrapper">
                    <ul class="package_info_features">
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                    </ul>                        
                    
                    <p><a class="package_info_map">Show on map</a></p>                
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="small-12 medium-4 columns package_cta">
        <h2 class="package_cta_price">&euro;100,00 p.p</h2>
        <a href="./detail.page.html?package.id=0" class="package_cta_button">More information</a>
    </div>
    
</div>

<hr class='packages_divider'/>
<div class="package row small-12 small-centered columns">
    <div class="small-12 medium-8 columns package_info">
        <h2 class="package_info_title">Hotel Ibis Amsterdam Airport</h2>
        <h3 class="subheader package_info_subTitle">Hotel sub title</h3>
        
        <div class="row">
            <img class="package_info_image small-12 medium-4 columns" src="./content/hotels/004.jpg">
            <div class="package_info_panel small-12 medium-8 columns">
                <div class="package_info_wrapper">
                    <ul class="package_info_features">
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                    </ul>                        
                    
                    <p><a class="package_info_map">Show on map</a></p>                
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="small-12 medium-4 columns package_cta">
        <h2 class="package_cta_price">&euro;100,00 p.p</h2>
        <a href="./detail.page.html?package.id=0" class="package_cta_button">More information</a>
    </div>
    
</div>

<hr class='packages_divider'/>
<div class="package row small-12 small-centered columns">
    <div class="small-12 medium-8 columns package_info">
        <h2 class="package_info_title">Hostel Stayokay</h2>
        <h3 class="subheader package_info_subTitle">Hotel sub title</h3>
        
        <div class="row">
            <img class="package_info_image small-12 medium-4 columns" src="./content/hotels/002.jpg">
            <div class="package_info_panel small-12 medium-8 columns">
                <div class="package_info_wrapper">
                    <ul class="package_info_features">
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                    </ul>                        
                    
                    <p><a class="package_info_map">Show on map</a></p>                
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="small-12 medium-4 columns package_cta">
        <h2 class="package_cta_price">&euro;100,00 p.p</h2>
        <a href="./detail.page.html?package.id=0" class="package_cta_button">More information</a>
    </div>
    
</div>

<hr class='packages_divider'/>
<div class="package row small-12 small-centered columns">
    <div class="small-12 medium-8 columns package_info">
        <h2 class="package_info_title">Novotel Amsterdam City</h2>
        <h3 class="subheader package_info_subTitle">Hotel sub title</h3>
        
        <div class="row">
            <img class="package_info_image small-12 medium-4 columns" src="./content/hotels/003.jpg">
            <div class="package_info_panel small-12 medium-8 columns">
                <div class="package_info_wrapper">
                    <ul class="package_info_features">
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                        <li>Nice perk of the package</li>    
                    </ul>                        
                    
                    <p><a class="package_info_map">Show on map</a></p>                
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="small-12 medium-4 columns package_cta">
        <h2 class="package_cta_price">&euro;100,00 p.p</h2>
        <a href="./detail.page.html?package.id=0" class="package_cta_button">More information</a>
    </div>
    
</div>


        
    </section>

    
   
        
            
    
    <section id="information" class="information row-full">
        
        <h6 class="information_header text-center">Information</h6>
        <h1 class="information_title text-center">Tell me more</h1>    
    
        <div class="information_panels row small-12 columns small-centered" data-equalizer>
                
    <div class="panel information_panels_panel small-12 large-4 columns"  data-equalizer-watch>
        <h2 class="information_panels_panel_title text-center">General</h2>        
        <p class="information_panels_panel_text">Beard Echo Park Tonx put a bird on it stumptown, chillwave organic Thundercats mlkshk Godard banjo iPhone mixtape. Mustache fashion axe vinyl High Life, synth YOLO pour-over deep v lo-fi plaid cornhole ugh next level twee. Neutra fashion axe keytar, shabby chic whatever crucifix hoodie Portland Tonx. Asymmetrical Austin chillwave scenester. Cred farm-to-table Portland, actually Williamsburg sriracha plaid ethnic fingerstache food truck Brooklyn swag typewriter. Jean shorts food truck Pinterest disrupt, master cleanse biodiesel pork belly polaroid gentrify XOXO kogi letterpress. Carles Cosby sweater yr viral tattooed Etsy.</p>        
    </div>
        

    
    <div class="panel information_panels_panel small-12 large-4 columns"  data-equalizer-watch>
        <h2 class="information_panels_panel_title text-center">Packages</h2>        
        <p class="information_panels_panel_text">Beard Echo Park Tonx put a bird on it stumptown, chillwave organic Thundercats mlkshk Godard banjo iPhone mixtape. Mustache fashion axe vinyl High Life, synth YOLO pour-over deep v lo-fi plaid cornhole ugh next level twee. Neutra fashion axe keytar, shabby chic whatever crucifix hoodie Portland Tonx. Asymmetrical Austin chillwave scenester. Cred farm-to-table Portland, actually Williamsburg sriracha plaid ethnic fingerstache food truck Brooklyn swag typewriter. Jean shorts food truck Pinterest disrupt, master cleanse biodiesel pork belly polaroid gentrify XOXO kogi letterpress. Carles Cosby sweater yr viral tattooed Etsy.</p>        
    </div>
        

    
    <div class="panel information_panels_panel small-12 large-4 columns"  data-equalizer-watch>
        <h2 class="information_panels_panel_title text-center">Date & Time</h2>        
        <p class="information_panels_panel_text">Beard Echo Park Tonx put a bird on it stumptown, chillwave organic Thundercats mlkshk Godard banjo iPhone mixtape. Mustache fashion axe vinyl High Life, synth YOLO pour-over deep v lo-fi plaid cornhole ugh next level twee. Neutra fashion axe keytar, shabby chic whatever crucifix hoodie Portland Tonx. Asymmetrical Austin chillwave scenester. Cred farm-to-table Portland, actually Williamsburg sriracha plaid ethnic fingerstache food truck Brooklyn swag typewriter. Jean shorts food truck Pinterest disrupt, master cleanse biodiesel pork belly polaroid gentrify XOXO kogi letterpress. Carles Cosby sweater yr viral tattooed Etsy.</p>        
    </div>
        
            
        </div>
    
    </section>


    
    
    <section id="testemonial" class="testemonial row-full">

        <h6 class="testemonial_title text-center">Testimonial</h6>
                
        <div class="testemonial_container row small-12 small-centered columns"  data-equalizer>
            <a href="javascript:void(0);" class="testemonial_button -left small-1 columns" data-equalizer-watch>&nbsp;</a>
            
            <div class="small-10 columns testemonial_slickContainer" data-equalizer-watch>
                
                <div class="testemonial_slick" data-slick='{"slide":".testemonial_quote","nextArrow":".testemonial_button.-right","prevArrow":".testemonial_button.-left"}' data-equalizer-watch>
        
                    
    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">This event was amazing, would book again using Event agent!</p>
                        <p class="testemonial_quote_author">Sjaak vaak, tof festival 2014</p>         
                    </div>
    </div>



    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">Helemaal uit m'n plaat gegaan en toch in een goed bed geslapen.</p>
                        <p class="testemonial_quote_author">Alexandra soms, ander festival 2013</p>         
                    </div>
    </div>



    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">De reis tusssen schiphol en de ArenA was een gemakkelijk en comfertabel met de helicopter van Event agent.</p>
                        <p class="testemonial_quote_author">Kim ju nu, the C party 2014</p>         
                    </div>
    </div>



    <div class="testemonial_quote ">    
        <div class="testemonial_quote_container">
            <p class="testemonial_quote_text">Iemand zei eens iets zonder een bron/auteur vermelding te maken! Maar het was tof</p>
                        <p class="testemonial_quote_author"></p>         
                    </div>
    </div>


                
                </div>
        
            </div>
            
            <a href="javascript:void(0);" class="testemonial_button -right small-1 columns" data-equalizer-watch>&nbsp;</a>
        </div>
                
    </section>


    
    <!-- /content -->
    
    <!-- foundation.master#footer -->
        
        
                
                
                        
                
        
    <footer id="footer" class="footer row-full">
    
        <div class="small-12 colunms row">
        
                
    <div class="footer_item image_item small-12 medium-3 columns phone">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/phone.png" alt="">
        </div>
        <div class="footer_item_label">            <p><a href="tel://+31652382328">+31 6 52 382 328</a></p>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns email">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/email.png" alt="">
        </div>
        <div class="footer_item_label">            <p><a href="mailto:travel@eventagent.nl">travel@eventagent.nl</a></p>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns info">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/info.png" alt="">
        </div>
        <div class="footer_item_label">            <ul>
                <li><a href="#">Disclaimer</a></li>    
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns mailinglist">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/mailinglist.png" alt="">
        </div>
        <div class="footer_item_label"> 
            <form method="POST" action="./email" target="email_frame">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="email" class="email_input" placeholder="Your email address">
                    </div>
                    <div class="small-2 columns">
                        <button type="submit" class="button postfix email_submit">OK</button>
                    </div>
                </div>
            </form>                
            <iframe src="about:blank" id="email_frame" name="email_frame"></iframe>
        </div>
    </div>

    
            
        </div>        
    
    </footer>

    
        <!-- /foundation.master#footer -->

        <!-- /master#body -->
        
        <!-- master#scripts -->
            
    <script> 
        var require = { 
                callback: function( ){ 
                    require([ "jquery", "scripts/slick", "foundation/dropdown", "foundation/equalizer", "foundation/topbar" ], function( $ ){
                        
                        $( document ).foundation( );        
                        
                    }); 
                } 
            };
    </script>
        <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>
    

        <!-- /master#scripts -->
    
    </body>
</html>