<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Landing page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- master#head -->
        
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <script src="./vendor/modernizr/modernizr.js"></script>
    
    <link rel="stylesheet" href="./style/landing.page.css">

        <!-- /master#head -->
        
    </head>
    <body>
    
        <!-- master#body -->
        
    <!-- foundation.master#header -->
            <header id="navigation" class="row-full">
    
            <div class="contain-to-grid">
            
                
    <nav class="top-bar navigation" data-topbar role="navigation">

        <ul class="title-area navigation_title">
            <li class="name">
                <h1><a href="#">Eventagent</a></h1>
            </li>    
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        
        <section class="top-bar-section">
        
            <ul class="right">
                <li><a href="#" class="navigation_button">Packages</a></li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
    </nav>


            
            </div>
        
        </header>    
        <!-- /foundation.master#header -->
    
    <!-- foundation.master#content -->
    
    <h1 class="landing_title text-center">Welcome at Event Agent, the most complete selection of upcoming events. Not only you'll book here off have selected the best hotels to stay in.</h1>

    
    <!-- grid -->
    <ul class="grid small-block-grid-2 medium-block-grid-4 large-block-grid-6">
     
        
    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/84FC1B" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/DE30EB" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/E0639C" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/CE37CB" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/5265BC" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/2D321B" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/CFE0BE" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/E2A3BE" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/AF3897" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/D7D165" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/A8E752" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/65BC2D" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/321BCF" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/E0BEE2" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/A3BEAF" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/3897D7" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/D165A8" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->



    <!-- grid_tile -->
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/E7C1BD" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>
    <!-- /grid_tile -->


       
    </ul>
    <!-- /grid -->



    <!-- /content -->
    
    <!-- foundation.master#footer -->
        
        
                
                
                        
                
        
    <footer id="footer" class="footer row-full">
    
        <div class="small-12 colunms row-wide">
        
                
    <div class="footer_item small-12 medium-3 columns">
        <i class="footer_item_charachter fi-telephone"></i>
        <div class="footer_item_label">            <p><a href="tel://+31652382328">+31 6 52 382 328</a></p>
        </div>
    </div>


    
    <div class="footer_item small-12 medium-3 columns">
        <i class="footer_item_charachter fi-at-sign"></i>
        <div class="footer_item_label">            <p><a href="mailto:travel@eventagent.nl">travel@eventagent.nl</a></p>
        </div>
    </div>


    
    <div class="footer_item small-12 medium-3 columns">
        <i class="footer_item_charachter fi-info"></i>
        <div class="footer_item_label">            <ul>
                <li><a href="#">Disclaimer</a></li>    
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </div>
    </div>


    
    <div class="footer_item small-12 medium-3 columns">
        <i class="footer_item_charachter fi-mail"></i>
        <div class="footer_item_label"> 
            <form method="POST" action="./email" target="email_frame">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="email" class="email_input" placeholder="Your email address">
                    </div>
                    <div class="small-2 columns">
                        <button type="submit" class="button postfix email_submit">OK</button>
                    </div>
                </div>
            </form>                
            <iframe src="about:blank" id="email_frame" frameborder="0"></iframe>
        </div>
    </div>

    
            
        </div>        
    
    </footer>

    
        <!-- /foundation.master#footer -->

        <!-- /master#body -->
        
        <!-- master#scripts -->
            
    <script> 
        var require = { 
                callback: function( ){ 
                    require([ "foundation/topbar" ], function( $ ){
                        
                        $( document ).foundation( );        
                        
                    }); 
                } 
            };
    </script>
        <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>
    

        <!-- /master#scripts -->
    
    </body>
</html>