<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Landing page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <script src="./vendor/modernizr/modernizr.js"></script>

    
    <link rel="stylesheet" href="./style/grid.css">

        
    </head>
    <body>
    
        
    
    <nav class="top-bar navigation" data-topbar>

        <ul class="title-area navigation_title">
            <li class="name">
                <h1><a href="#">Eventagent</a></h1>
            </li>    
        </ul>
        
        <section class="top-bar-section">
        
            <ul class="right">
                <li><a href="#" class="navigation_button">Packages</a></li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
    </nav>


    
    
    <ul class="grid small-block-grid-2 medium-block-grid-4 large-block-grid-6">
     
        
    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/84FC1B" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/DE30EB" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/E0639C" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/CE37CB" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/5265BC" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/2D321B" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/CFE0BE" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/E2A3BE" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/AF3897" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/D7D165" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/A8E752" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/65BC2D" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/321BCF" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/E0BEE2" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/A3BEAF" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/3897D7" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/D165A8" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>



    <li class="grid_panel  ">
        
        <a class="grid_panel_link" href="#">
            <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>    
        </a>
        
        <img class="grid_panel_image" src="http://placehold.it/400x300/E7C1BD" alt="">
        
        <span class="grid_panel_description">Eventagent<br>Amsterdam 30-07-2014</span>
        
    </li>


       
    </ul>



        
        
        <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>


    
    </body>
</html>