<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- master#head -->
        
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <!--script src="./vendor/modernizr/modernizr.js"></script-->

    <link rel="stylesheet" href="./style/wizard.04.summary.page.css">

        <!-- /master#head -->
        
    </head>
    <body>
    
        <!-- master#body -->
        
    <!-- foundation.master#header -->
            <header id="navigation" class="row">
    
            <div class="contain-to-grid">
            
                
    <nav class="top-bar navigation" data-topbar>

        <ul class="title-area navigation_title">
            <li class="name">
                <h1><a href="#">Eventagent</a></h1>
            </li>    
        </ul>
        
        <section class="top-bar-section">
        
            <ul class="right">
                <li><a href="#" class="navigation_button">Packages</a></li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
    </nav>


            
            </div>
        
        </header>    
        <!-- /foundation.master#header -->
    
    <!-- foundation.master#content -->
    
    <section id="wizard" class="row-full">

        <div id="breadcrumb" class="row-wide">
            
    <ol class="breadcrumbs small-12 small-centered columns">
        <li class=""><a href="#">Package</a></li>
        <li class=""><a href="#">Customize</a></li>
        <li class=""><a href="#">Personal info</a></li>
        <li class="active"><a href="#">Summary</a></li>
        <li class="unavailable"><a href="#">Payment</a></li>
    </ol>

        
        </div>
    
        <div id="page" class="row-wide page" data-equalizer>
            
    <form 
        method="GET" 
        target="_self" 
        action="./wizard.05.payment.page.html"
    >
        <div class="small-8 columns page_content" data-equalizer-watch> 
    <h1>Package title</h1>

    <h4>Event</h4>
    <div class="row">
        <span class="small-12 medium-4 columns">Event</span>
        <span class="small-12 medium-8 columns">Eventment title</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Event data</span>
        <span class="small-12 medium-8 columns">01-01-2015 - full date</span>  
    </div>
    
    <hr/>
    
    <h4>Accomodations</h4>
    <div class="row">
        <span class="small-12 medium-4 columns">Arrival date</span>
        <span class="small-12 medium-8 columns">01-01-2015 - full date</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Departure date</span>
        <span class="small-12 medium-8 columns">01-01-2014 - full date</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Number of nights</span>
        <span class="small-12 medium-8 columns">1</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Room layout</span>
        <span class="small-12 medium-8 columns">Feng shui</span>  
    </div>
    
    <hr/>
    <h4>Extras</h4>
    <div class="row">
        <span class="small-12 medium-4 columns">Shared limo ride</span>
        <span class="small-12 medium-8 columns">1x</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Bottle of champaigne</span>
        <span class="small-12 medium-8 columns">3x</span>  
    </div>
    
    <hr>
    <h4>Personal info</h4>
    <div class="row">
        <span class="small-12 medium-4 columns">Initials</span>
        <span class="small-12 medium-8 columns">A</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Surname</span>
        <span class="small-12 medium-8 columns">Steenveld</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Email address</span>
        <span class="small-12 medium-8 columns">andre.steenveld@gmail.com</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Phone number</span>
        <span class="small-12 medium-8 columns">0612345678</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Adress</span>
        <span class="small-12 medium-8 columns">24 Oktoberplein</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Zipcode</span>
        <span class="small-12 medium-8 columns">3528 BB</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">City</span>
        <span class="small-12 medium-8 columns">Utrecht</span>  
    </div>
    <div class="row">
        <span class="small-12 medium-4 columns">Country</span>
        <span class="small-12 medium-8 columns">The Netherlands</span>  
    </div>
    
    <hr/>
    <!-- accept general condtions -->
    <p>
        <input type="checkbox"> I agree with the <a href="#">general conditions</a><br/>
        After payment you will recieve your confirmation imediatly
    </p>
</div>
        <div class="small-4 columns page_cart" data-equalizer-watch>
             

        
    
    <ul class="wizard_cart pricing-table">
        <li class="title wizard_cart_title">Your order</li>
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_description">description</span>
                <span class="wizard_cart_item_amount">amount</span>                
            </p>
        </li>
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_description">description</span>
                <span class="wizard_cart_item_amount">amount</span>                
            </p>
        </li>
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_description">description</span>
                <span class="wizard_cart_item_amount">amount</span>                
            </p>
        </li>
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_description">description</span>
                <span class="wizard_cart_item_amount">amount</span>                
            </p>
        </li>
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_description">description</span>
                <span class="wizard_cart_item_amount">amount</span>                
            </p>
        </li>
        <li class="price wizard_cart_total">
            <p>
                <span class="wizard_cart_total_description">Total:</span>    
                <span class="wizard_cart_total_amount">$99.99</span>
            </p>
        </li>
        <li class="cta-button wizard_cart_buttons">
            <a href="./wizard.03.personal-info.page.html" class="wizard_cart_buttons_button -previous">Previous</a>
            <button type="submit" class="wizard_cart_buttons_button -next">Next</button>            
        </li>
    </ul>
    
 
        </div>
    </form>

        </div>
        
    </section>

    <!-- /content -->
    
    <!-- foundation.master#footer -->
        
        
                        
                
        
    
    
    
    
    <footer id="footer" class="footer icon-bar four-up">
    
            
    <span class="item">
        <i class="fi-telephone"></i>
        <label>+31 6 52 382 328</label>
    </span>


    
    <span class="item">
        <i class="fi-at-sign"></i>
        <label>travel@eventagent.nl</label>
    </span>


    
    <span class="item">
        <i class="fi-info"></i>
        <label>            <ul>
                <li><a href="#">Disclaimer</a></li>    
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </label>
    </span>


    
    <span class="item">
        <i class="fi-mail"></i>
        <label> 
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" placeholder="Your email address">
                </div>
                <div class="small-2 columns">
                    <button type="submit" class="button postfix">OK</button>
                </div>
            </div>
        </label>
    </span>

            
    
    </footer>

    
        <!-- /foundation.master#footer -->

        <!-- /master#body -->
        
        <!-- master#scripts -->
            
        
    <script> 
        var require = { 
                callback: function( ){ 
                    require(
                        [ "jquery", "foundation/equalizer", "domReady!" ],
                        function( $ ){ $( document ).foundation( ); }
                    ); 
                } 
            };
    </script>
        <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>
    



        <!-- /master#scripts -->
    
    </body>
</html>