<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- master#head -->
        
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <script src="./vendor/modernizr/modernizr.js"></script>

    <link rel="stylesheet" href="./style/wizard.01.package.page.css">

        <!-- /master#head -->
        
    </head>
    <body>
    
        <!-- master#body -->
        
    <!-- foundation.master#header -->
            <header id="navigation" class="row-full">
    
            <div class="contain-to-grid">
            
                
    <nav class="top-bar navigation" data-topbar role="navigation">

        <ul class="title-area navigation_title">
            <li class="name">
                <h1><a href="#">Eventagent</a></h1>
            </li>    
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        
        <section class="top-bar-section">
        
            <ul class="right">
                <li><a href="#" class="navigation_button">Packages</a></li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
    </nav>


            
            </div>
        
        </header>    
        <!-- /foundation.master#header -->
    
    <!-- foundation.master#content -->
    
    <section id="wizard" class="row-full">

        <div id="breadcrumb" class="row-wide">
            
    <ol class="breadcrumbs small-12 small-centered columns">
        <li class="active"><a href="#">Package</a></li>
        <li class="unavailable"><a href="#">Customize</a></li>
        <li class="unavailable"><a href="#">Personal info</a></li>
        <li class="unavailable"><a href="#">Summary</a></li>
        <li class="unavailable"><a href="#">Payment</a></li>
    </ol>

        
        </div>
    
        <div id="page" class="row-wide page" data-equalizer>
            
    <form 
        method="GET" 
        target="_self" 
        action="./wizard.02.customize.page.html"
    >
        <input type="hidden" name="state" value="{}">
        <div class="small-8 columns page_content" data-equalizer-watch> 

    <h1>Package name</h1>
    
    <div class="row">
        
        <label class="small-6 columns end">
            Number of persons
            <input name="booking_person" type="number" min="1" max="50" value="1"/>    
        </label>
    </div>
   
    <div class="row">
        <label class="small-6 columns end">
            Event date
            <select name="booking_date">
                <option value="17-10-2012">Friday 17 October 2012</option>    
                <option value="18-10-2012">Saturday 18 October 2012</option>    
                <option value="19-10-2012">Sunday 19 October 2012</option>    
            </select>
        </label>
    </div>
    
    <div class="row">
        <label class="small-6 columns end">
            Ticket
            <select name="ticket">
                <option value="231">No additional ticket</option>    
                <option value="229">Normal ticket</option>    
                <option value="230">VIP ticket</option>    
            </select>
        </label>            
    </div>
    
    <div class="row">       
        <label class="small-6 columns">
            Arrival date
            <select name="date_from">
                <option value="18-10-2012">Saturday 18 October 2012</option>    
            </select>
        </label>
   
        <label class="small-6 columns end">
            Depature date
            <select name="date_to">
                <option value="19-10-2012">Sunday 19 October 2012</option>    
            </select>            
        </label>
    </div>
    
    <div class="row">
        <label class="small-6 columns end">
            Room layout
            <select name="room_layout">
                <option value="1">Feng shui</option>    
                <option value="3">Round</option>    
                <option value="4">Glued to the cieling</option>                    
            </select>
        </label>
    </div>

</div>
        <div class="small-4 columns page_cart" data-equalizer-watch> 

    <script id="wizard_cart_item-template" type="text/template">
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_amount">{{amount}}</span>          
                <span class="wizard_cart_item_description">{{description}}</span>                
                <span class="wizard_card_item_price">{{price}}</span>
            </p>
        </li>
    </script>
    
    <ul class="wizard_cart pricing-table">
        <li class="title wizard_cart_title">Your order</li>
        
        <!-- templates go here... -->
        
        <li class="price wizard_cart_total">
            <p>
                <span class="wizard_cart_total_description">Total:</span>    
                <span class="wizard_cart_total_amount">&nbsp;</span>
            </p>
        </li>
        
        <li class="cta-button wizard_cart_buttons">
            <a href="javascript:window.history.back( );" class="wizard_cart_buttons_button -previous">Previous</a>
            <button type="submit" class="wizard_cart_buttons_button -next">Next</button>            
        </li>
    </ul>
    
</div>
    </form>

        </div>
        
    </section>

    <!-- /content -->
    
    <!-- foundation.master#footer -->
        
        
                
                
                        
                
        
    <footer id="footer" class="footer row-full">
    
        <div class="small-12 colunms row-wide">
        
                
    <div class="footer_item small-12 medium-3 columns">
        <i class="footer_item_charachter fi-telephone"></i>
        <div class="footer_item_label">            <p><a href="tel://+31652382328">+31 6 52 382 328</a></p>
        </div>
    </div>


    
    <div class="footer_item small-12 medium-3 columns">
        <i class="footer_item_charachter fi-at-sign"></i>
        <div class="footer_item_label">            <p><a href="mailto:travel@eventagent.nl">travel@eventagent.nl</a></p>
        </div>
    </div>


    
    <div class="footer_item small-12 medium-3 columns">
        <i class="footer_item_charachter fi-info"></i>
        <div class="footer_item_label">            <ul>
                <li><a href="#">Disclaimer</a></li>    
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </div>
    </div>


    
    <div class="footer_item small-12 medium-3 columns">
        <i class="footer_item_charachter fi-mail"></i>
        <div class="footer_item_label"> 
            <form method="POST" action="./email" target="email_frame">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="email" class="email_input" placeholder="Your email address">
                    </div>
                    <div class="small-2 columns">
                        <button type="submit" class="button postfix email_submit">OK</button>
                    </div>
                </div>
            </form>                
            <iframe src="about:blank" id="email_frame" frameborder="0"></iframe>
        </div>
    </div>

    
            
        </div>        
    
    </footer>

    
        <!-- /foundation.master#footer -->

        <!-- /master#body -->
        
        <!-- master#scripts -->
            
    <script> 
        var require = { 
                callback: function( ){ 
                    require(
                        [ "jquery", "scripts/state", "foundation/topbar", "foundation/equalizer", "scripts/cart", "domReady!" ],
                        function( $ ){ $( document ).foundation( ); }
                    ); 
                } 
            };
    </script>
        <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>
    

        <!-- /master#scripts -->
    
    </body>
</html>