<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- master#head -->
        
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <!--script src="./vendor/modernizr/modernizr.js"></script-->

    <link rel="stylesheet" href="./style/wizard.01.package.page.css">

        <!-- /master#head -->
        
    </head>
    <body>
    
        <!-- master#body -->
        
    <!-- foundation.master#header -->
            <header id="navigation" class="row">
    
            <div class="contain-to-grid">
            
                
    <nav class="top-bar navigation" data-topbar>

        <ul class="title-area navigation_title">
            <li class="name">
                <h1><a href="#">Eventagent</a></h1>
            </li>    
        </ul>
        
        <section class="top-bar-section">
        
            <ul class="right">
                <li><a href="#" class="navigation_button">Packages</a></li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
    </nav>


            
            </div>
        
        </header>    
        <!-- /foundation.master#header -->
    
    <!-- foundation.master#content -->
    
    <section id="wizard" class="row-full">

        <div id="breadcrumb" class="row-wide">
            
    <ol class="wizardcrumbs small-12 small-centered columns">
        <li class="active"><a href="#">Package</a></li>
        <li class="unavailable"><a href="#">Customize</a></li>
        <li class="unavailable"><a href="#">Personal info</a></li>
        <li class="unavailable"><a href="#">Summary</a></li>
        <li class="unavailable"><a href="#">Payment</a></li>
    </ol>

        
        </div>
    
        <div id="page" class="row-wide page" data-equalizer>
            
    <form 
        method="GET" 
        target="_self" 
        action="./wizard.02.customize.page.html"
    >
        <div class="small-8 columns page_content" data-equalizer-watch> 

    <h1>Package name</h1>
    
    <div class="row">
        <label class="small-6 columns end">
            Number of persons
            <input type="number" min="1" max="50" value="1"/>    
        </label>
    </div>
   
    <div class="row">
        <label class="small-6 columns end">
            Event date
            <select>
                <option>Friday 17 October 2012</option>    
                <option>Saturday 18 October 2012</option>    
                <option>Sunday 19 October 2012</option>    
            </select>
        </label>
    </div>
    
    <div class="row">       
        <label class="small-6 columns">
            Arrival date
            <select>
                <option>Saturday 18 October 2012</option>    
            </select>
        </label>
   
        <label class="small-6 columns end">
            Depature date
            <select>
                <option>Sunday 19 October 2012</option>    
            </select>            
        </label>
    </div>
    
    <div class="row">
        <label class="small-6 columns end">
            Room layout
            <select>
                <option>Feng shui</option>    
                <option>Round</option>    
                <option>Glued to the cieling</option>    
                
            </select>
        </label>
    </div>

</div>
        <div class="small-4 columns page_cart" data-equalizer-watch> 

        
    
    <ul class="wizard_cart pricing-table">
        <li class="title wizard_cart_title">Your order</li>
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_description">description</span>
                <span class="wizard_cart_item_amount">amount</span>                
            </p>
        </li>
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_description">description</span>
                <span class="wizard_cart_item_amount">amount</span>                
            </p>
        </li>
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_description">description</span>
                <span class="wizard_cart_item_amount">amount</span>                
            </p>
        </li>
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_description">description</span>
                <span class="wizard_cart_item_amount">amount</span>                
            </p>
        </li>
        <li class="bullet-item wizard_cart_item">
            <p>
                <span class="wizard_cart_item_description">description</span>
                <span class="wizard_cart_item_amount">amount</span>                
            </p>
        </li>
        <li class="price wizard_cart_total">
            <p>
                <span class="wizard_cart_total_description">Total:</span>    
                <span class="wizard_cart_total_amount">$99.99</span>
            </p>
        </li>
        <li class="cta-button wizard_cart_buttons">
            <a href="#" class="button wizard_cart_buttons_button -previous">Previous</a>
            <button type="submit" class="button wizard_cart_buttons_button -next">Next</button>            
        </li>
    </ul>
    
</div>
    </form>

        </div>
        
    </section>

    <!-- /content -->
    
    <!-- foundation.master#footer -->
        
        
                        
                
        
    
    
    
    
    <footer id="footer" class="footer icon-bar four-up">
    
            
    <span class="item">
        <i class="fi-telephone"></i>
        <label>+31 6 52 382 328</label>
    </span>


    
    <span class="item">
        <i class="fi-at-sign"></i>
        <label>travel@eventagent.nl</label>
    </span>


    
    <span class="item">
        <i class="fi-info"></i>
        <label>            <ul>
                <li><a href="#">Disclaimer</a></li>    
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </label>
    </span>


    
    <span class="item">
        <i class="fi-mail"></i>
        <label> 
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" placeholder="Your email address">
                </div>
                <div class="small-2 columns">
                    <button type="submit" class="button postfix">OK</button>
                </div>
            </div>
        </label>
    </span>

            
    
    </footer>

    
        <!-- /foundation.master#footer -->

        <!-- /master#body -->
        
        <!-- master#scripts -->
            
    <script> 
        var require = { 
                callback: function( ){ 
                    require(
                        [ "jquery", "foundation/equalizer", "domReady!" ],
                        function( $ ){ $( document ).foundation( ); }
                    ); 
                } 
            };
    </script>
        <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>
    

        <!-- /master#scripts -->
    
    </body>
</html>