<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- master#head -->
        
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <!--script src="./vendor/modernizr/modernizr.js"></script-->

    <link rel="stylesheet" href="./style/wizard.05.payment.page.css">

        <!-- /master#head -->
        
    </head>
    <body>
    
        <!-- master#body -->
        
    <!-- foundation.master#header -->
            <header id="navigation" class="row">
    
            <div class="contain-to-grid">
            
                
    <nav class="top-bar navigation" data-topbar>

        <ul class="title-area navigation_title">
            <li class="name">
                <h1><a href="#">Eventagent</a></h1>
            </li>    
        </ul>
        
        <section class="top-bar-section">
        
            <ul class="right">
                <li><a href="#" class="navigation_button">Packages</a></li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
    </nav>


            
            </div>
        
        </header>    
        <!-- /foundation.master#header -->
    
    <!-- foundation.master#content -->
    
    <section id="wizard" class="row-full">

        <div id="breadcrumb" class="row-wide">
            
    <ol class="breadcrumbs small-12 small-centered columns">
        <li class=""><a href="#">Package</a></li>
        <li class=""><a href="#">Customize</a></li>
        <li class=""><a href="#">Personal info</a></li>
        <li class=""><a href="#">Summary</a></li>
        <li class="active"><a href="#">Payment</a></li>
    </ol>

        
        </div>
    
        <div id="page" class="row-wide page" data-equalizer>
            
    <form 
        method="GET" 
        target="_self" 
        action="."
    >
        <input type="hidden" name="state" value="{}">
        <div class="small-8 columns page_content"><p></p></div>
        <div class="small-4 columns page_cart"><p></p></div>
    </form>

        </div>
        
    </section>

    <!-- /content -->
    
    <!-- foundation.master#footer -->
        
        
                
                
                        
                
        
    <footer id="footer" class="footer row-full">
    
        <div class="small-12 colunms centered row-wide">
        
                
    <div class="footer_item small-3 columns">
        <i class="footer_item_charachter fi-telephone"></i>
        <div class="footer_item_label">            <p><a href="tel://+31652382328">+31 6 52 382 328</a></p>
        </div>
    </div>


    
    <div class="footer_item small-3 columns">
        <i class="footer_item_charachter fi-at-sign"></i>
        <div class="footer_item_label">            <p><a href="mailto:travel@eventagent.nl">travel@eventagent.nl</a></p>
        </div>
    </div>


    
    <div class="footer_item small-3 columns">
        <i class="footer_item_charachter fi-info"></i>
        <div class="footer_item_label">            <ul>
                <li><a href="#">Disclaimer</a></li>    
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </div>
    </div>


    
    <div class="footer_item small-3 columns">
        <i class="footer_item_charachter fi-mail"></i>
        <div class="footer_item_label"> 
            <form method="POST" action="./email" target="email_frame">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="email" class="email_input" placeholder="Your email address">
                    </div>
                    <div class="small-2 columns">
                        <button type="submit" class="button postfix email_submit">OK</button>
                    </div>
                </div>
            </form>                
            <iframe src="about:blank" id="email_frame" frameborder="0"></iframe>
        </div>
    </div>

    
            
        </div>        
    
    </footer>

    
        <!-- /foundation.master#footer -->

        <!-- /master#body -->
        
        <!-- master#scripts -->
            
        
    <script> 
        var require = { 
                callback: function( ){ 
                    require(
                        [ "jquery", "scripts/state", "foundation/equalizer", "scripts/cart", "domReady!" ],
                        function( $ ){ $( document ).foundation( ); }
                    ); 
                } 
            };
    </script>
        <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>
    



        <!-- /master#scripts -->
    
    </body>
</html>