<!doctype html>
<html class="no-js" lang="nl-nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- master#head -->
        
        <link rel="stylesheet" href="./vendor/foundation/css/normalize.css">
        
    <script src="./vendor/modernizr/modernizr.js"></script>

    <link rel="stylesheet" href="./style/wizard.02.customize.page.css">

        <!-- /master#head -->
        
    </head>
    <body>
    
        <!-- master#body -->
        
    <!-- foundation.master#header -->
    
    
    <header 
        id="navigation" 
        class="row-full contain-to-grid hide-for-small  exit-off-canvas"
    
        data-start     = " min-height: 100px; height: 10%; max-height: 130px; "
        data-100-start = " min-height: 50px;  height: 5%;  max-height: 65px;  "
    >
        
        
    <nav 
        data-top-bar 
        data-options="is_hover: false"
        
        class="top-bar" 
        role="navigation" 
        
        data-anchor-target = "#navigation"
        data-start         = " line-height: 100px; "
        data-100-start     = " line-height: 50px;  "
    >
        
        <ul class="title-area navigation_title">
            <li class="name">
                <h1>
                    <a 
                        href="#"
                        
                        data-anchor-target = "#navigation"
                        data-start         = " font-size: 20px; "
                        data-100-start     = " font-size: 15px; "
                    >Eventagent</a>
                </h1>
            </li>    
            <li class="toggle-topbar menu-icon"><a href="#"><span>&nbsp;</span></a></li>
        </ul>
        
        <section class="top-bar-section">
        
            <ul 
                class="right"
            
                data-anchor-target = "#navigation"
                data-start         = " font-size: 20px; "
                data-100-start     = " font-size: 15px; "    
            >
                <li><a href="#" class="navigation_button" data-dropdown="navigation_packages_dropdown" data-options="is_hover:true">Packages</a></li>    
                <li><a href="#" class="navigation_button">Why book?</a></li>
                <li><a href="#" class="navigation_button">Tell me more</a></li>                
            </ul>    
            
        </section>
        
        <div id="navigation_packages_dropdown" data-dropdown-content class="medium content f-dropdown row navigation_packages_dropdown">
            <form>
                <div class="small-6 columns">
                    <h5 class="navigation_packages_dropdown_title">Event</h5>
                    <label><input name="filter[]" value="true" type="checkbox">Indoor dance</label>
                    <label><input name="filter[]" value="true" type="checkbox">Outdoor dance</label>
                    <label><input name="filter[]" value="true" type="checkbox">Concerts</label>
                    <label><input name="filter[]" value="true" type="checkbox">Theater</label>
                    <label><input name="filter[]" value="true" type="checkbox">Sports</label>                        
                
                </div> 
                
                <div class="small-6 columns">
                    <h5 class="navigation_packages_dropdown_title">Package</h5>
                    <label><input name="filter[]" value="" type="checkbox">Bus package</label>
                    <label><input name="filter[]" value="" type="checkbox">Hotel</label>
                    <label><input name="filter[]" value="" type="checkbox">Camping</label>
                    <label><input name="filter[]" value="" type="checkbox">Tickets only</label>
                    <label><input name="filter[]" value="" type="checkbox">Diner and ticket</label>                        
                    <label><input name="filter[]" value="" type="checkbox">VIP</label>                        
                
                </div> 
                
                <button type="submit" class="small-12 columns button large">Filter</button>
            </form>                        
                                    
        </div>            
        
    </nav>



        
    </header>     
    
    <div id="top-bar-placeholder" class="hide-for-small"><!-- top bar place holder --></div>
    
    
    <nav data-offcanvas class="show-for-small tab-bar">
        
        <div class="left tab-bar-section exit-off-canvas">Event agent</div>

        <div class="right-small">
            <a href="#idOfRightMenu" role="button" aria-controls="idOfRightMenu" aria-expanded="false" class="right-off-canvas-toggle menu-icon" ><span></span></a>
        </div>
    </nav>

    <aside class="off-canvas-wrap right-off-canvas-menu">
        <ul class="off-canvas-list">
                        
            <li><a href="#">Packages</a></li>                        
            <li><a href="#">Why book?</a></li>
            <li><a href="#">Tell me more</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">General conditions</a></li>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy policy</a></li>
            
        </ul>
    </aside>
    


    <!-- /foundation.master#header -->
    
    <!-- foundation.master#content -->
    
    <section id="wizard" class="row-full">

        <div id="breadcrumb" class="row-wide">
            
    <ol class="breadcrumbs small-12 small-centered columns">
        <li class=""><a href="#">Package</a></li>
        <li class="current"><a href="#">Customize</a></li>
        <li class="unavailable"><a href="#">Personal info</a></li>
        <li class="unavailable"><a href="#">Summary</a></li>
        <li class="unavailable"><a href="#">Payment</a></li>
    </ol>

        
        </div>
        
        <hr id="wizard_divider"/>
    
        <div id="page" class="row small-centered page" data-equalizer>
            
    <form 
        method="GET" 
        target="_self" 
        action="./wizard.03.personal-info.page.html"
    >
                        <input type="hidden" name="state" value="{}">                
                <div class="small-12 medium-8 columns page_content" data-equalizer-watch>
    <h2 class="wizard_pane_title">Hotel Ibis Amsterdam Airport</h2>
     
  
    <div class="row">
    
        <img src="http://desertsafari.net/abisol1/userfiles/images/evening-safari-dubai.jpg" class="small-12 medium-5 columns wizard_extra_image">
        <div class="small-12 medium-7 columns">
        
            <h3 class="wizard_extra_title">Desert Safari Tour</h3>
            
            <ul class="wizard_extra_features"><li>Watch the beautifull sunset in the desert</li>
<li>6 persons shared jeep</li>
<li>Driver guided</li>
<li>Pick up time 15h00</li>
<li>Including BBQ and shisha (Waterpipe)</li>
<li>Including Belly dancer show around the campfire</li>
<li>Different stops including visiting a camel farm</li>
<li>Price per person</li></ul>
            
            <p class="wizard_extra_info">
                &euro;50.00
                
                <span class="wizard_extra_selection">
                    <label class="wizard_extra_select">
                        <input 
                            type="checkbox" 
                            name="extra[0][id]" 
                            
                            value='"ea-customs[0]"'
                        >Select<input 
                            class="wizard_extra_amount"
                            type="number" 
                            name="extra[0][amount]" 
                                                    
                                                         
                                min="3" 
                                max="10" 
                                
                                                                    
                            
                                                        
                            value="3"/>

                    </label>

                </span>
            </p>
            
        </div>
        
    </div>


    <hr />
     
  
    <div class="row">
    
        <img src="http://www.autoviva.com/img/photos/745/ferrari_world_abu_dhabi_ready_to_open_doors_small_33745.jpg" class="small-12 medium-5 columns wizard_extra_image">
        <div class="small-12 medium-7 columns">
        
            <h3 class="wizard_extra_title">Ferrari World Tour Visit</h3>
            
            <ul class="wizard_extra_features"><li>Ferrari World Entrance ticket</li>
<li>Including Transfer</li>
<li>Transfer time is 2 hours</li>
<li>Price per person</li></ul>
            
            <p class="wizard_extra_info">
                &euro;150.00
                
                <span class="wizard_extra_selection">
                    <label class="wizard_extra_select">
                        <input 
                            type="checkbox" 
                            name="extra[1][id]" 
                            
                            value='"ea-customs[1]"'
                        >Select<input 
                            class="wizard_extra_amount"
                            type="number" 
                            name="extra[1][amount]" 
                                                    
                                                         
                                min="2" 
                                max="2" 
                                
                                                                    disabled
                                                                    
                            
                                                        
                            value="2"/>

                    </label>

                </span>
            </p>
            
        </div>
        
    </div>


    <hr />
     
  
    <div class="row">
    
        <img src="http://placehold.it/400x300" class="small-12 medium-5 columns wizard_extra_image">
        <div class="small-12 medium-7 columns">
        
            <h3 class="wizard_extra_title">The third extra</h3>
            
            <ul class="wizard_extra_features"><li>First feature</li>
<li>Second feature</li>
<li>Third feature</li>
<li>Forth feature</li></ul>
            
            <p class="wizard_extra_info">
                &euro;300.00
                
                <span class="wizard_extra_selection">
                    <label class="wizard_extra_select">
                        <input 
                            type="checkbox" 
                            name="extra[2][id]" 
                            
                            value='"ea-customs[2]"'
                        >Select<input 
                            class="wizard_extra_amount"
                            type="number" 
                            name="extra[2][amount]" 
                                                    
                                                         
                                min="" 
                                max="" 
                                
                                                                    disabled
                                                                    
                            
                                                        
                            value="1"/>

                    </label>

                </span>
            </p>
            
        </div>
        
    </div>


    <hr />
     
  
    <div class="row">
    
        <img src="http://placehold.it/400x300" class="small-12 medium-5 columns wizard_extra_image">
        <div class="small-12 medium-7 columns">
        
            <h3 class="wizard_extra_title">Max is 5 item</h3>
            
            <ul class="wizard_extra_features"><li>First feature</li>
<li>Second feature</li>
<li>Third feature</li>
<li>Forth feature</li></ul>
            
            <p class="wizard_extra_info">
                &euro;300.00
                
                <span class="wizard_extra_selection">
                    <label class="wizard_extra_select">
                        <input 
                            type="checkbox" 
                            name="extra[2][id]" 
                            
                            value='"ea-customs[2]"'
                        >Select<input 
                            class="wizard_extra_amount"
                            type="number" 
                            name="extra[2][amount]" 
                                                    
                                                         
                                min="" 
                                max="5" 
                                
                                                                    
                            
                                                        
                            value="1"/>

                    </label>

                </span>
            </p>
            
        </div>
        
    </div>


    <hr />
     
  
    <div class="row">
    
        <img src="http://placehold.it/400x300" class="small-12 medium-5 columns wizard_extra_image">
        <div class="small-12 medium-7 columns">
        
            <h3 class="wizard_extra_title">Max is 5 item</h3>
            
            <ul class="wizard_extra_features"><li>First feature</li>
<li>Second feature</li>
<li>Third feature</li>
<li>Forth feature</li></ul>
            
            <p class="wizard_extra_info">
                &euro;300.00
                
                <span class="wizard_extra_selection">
                    <label class="wizard_extra_select">
                        <input 
                            type="checkbox" 
                            name="extra[2][id]" 
                            
                            value='"ea-customs[2]"'
                        >Select<input 
                            class="wizard_extra_amount"
                            type="number" 
                            name="extra[2][amount]" 
                                                    
                                                         
                                min="5" 
                                max="" 
                                
                                                                    
                            
                                                        
                            value="5"/>

                    </label>

                </span>
            </p>
            
        </div>
        
    </div>


    
</div>
                <div class="small-12 medium-4 columns page_cart" data-equalizer-watch> 

    <h2 class="wizard_cart_title">Your order</h2>
    
    <div id="wizard_cart_wrapper">
    
        <dl id="wizard_cart" class="wizard_cart row">
          
        
      
        </dl>
        
        <a href="javascript:window.history.back( );" class="wizard_cart_buttons_button -previous">Previous</a>
        <button type="submit" class="wizard_cart_buttons_button -next">Next</button>            
    
    </div>
    
    <script id="wizard_cart_item-template" type="text/template">
        <dt class="small-7 columns wizard_cart_item-title">{{title}}</dt>   
        <dd class="small-5 columns wizard_cart_item-amount">{{amount}}</dd>
    </script>
    
    <script id="wizard_cart_total-template" type="text/template">
        <dt class="small-7 columns wizard_cart_total-title">{{title}}</dt>            
        <dd class="small-5 columns wizard_cart_total-price">{{total}}</dd>        
    </script>
    
    
</div>                
            
    </form>

        </div>
        
    </section>

    <!-- /content -->
    
    <!-- foundation.master#footer -->
        
        
                
                
                        
                
        
    <footer id="footer" class="footer row-full">
    
        <div class="small-12 colunms row">
        
                
    <div class="footer_item image_item small-12 medium-3 columns phone">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/phone.png" alt="">
        </div>
        <div class="footer_item_label">            <p><a href="tel://+31652382328">+31 6 52 382 328</a></p>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns email">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/email.png" alt="">
        </div>
        <div class="footer_item_label">            <p><a href="mailto:travel@eventagent.nl">travel@eventagent.nl</a></p>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns info">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/info.png" alt="">
        </div>
        <div class="footer_item_label">            <ul>
                <li><a href="#">Disclaimer</a></li>    
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </div>
    </div>


    
    <div class="footer_item image_item small-12 medium-3 columns mailinglist">
        <div class="footer_item_wrapper">
            <img class="footer_item_image" src="./content/footer/mailinglist.png" alt="">
        </div>
        <div class="footer_item_label"> 
            <form method="POST" action="./email" target="email_frame">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" name="email" class="email_input" placeholder="Your email address">
                    </div>
                    <div class="small-2 columns">
                        <button type="submit" class="button postfix email_submit">OK</button>
                    </div>
                </div>
            </form>                
            <iframe src="about:blank" id="email_frame" name="email_frame"></iframe>
        </div>
    </div>

    
            
        </div>        
    
    </footer>

    
        <!-- /foundation.master#footer -->

        <!-- /master#body -->
        
        <!-- master#scripts -->
            <script>
        var require = {
            
                callback: function( ){
                
                    
                        require(
                        
                        [ 
                            "jquery", "skrollr", "foundation", 
                            
                            "foundation/dropdown", 
                            "foundation/topbar", 
                            "foundation/offcanvas", 
                            
                            "domReady!" 
                        ]
                            .concat([ "scripts/wizard/customize", "foundation/equalizer" ]),
                        
                                                function( $, skrollr, foundation ){
                        
                            $( document ).foundation( );     
                            
                            if( window.matchMedia( foundation.media_queries.medium ).matches ){
                                
                                skrollr.init({ 
                                    forceHeight: false,
                                    mobileCheck: function( ){ return false; }
                                });                                
                                
                            } else {
                                
                                $( "[data-offcanvas] ~ *:not(.off-canvas-wrap):not(script)" )
                                    .click( function( ){
                                        
                                        foundation.libs.offcanvas.hide(
                                            "move-left",
                                            foundation.libs.offcanvas.get_wrapper( ".off-canvas-wrap" )
                                        );
                                        
                                    });    
                                                        
                            }
                            
                        }
                                            );
                    
    
    require(
        [ "jquery", "foundation", "jquery.scrolltofixed", "domReady!" ],
        function( $, foundation ){
        
            if( window.matchMedia( foundation.media_queries.medium ).matches ) 
                $( "#wizard_cart_wrapper" ).scrollToFixed({
                    zIndex:    5,
                    marginTop: 65, 
                    removeOffsets: true,
                    offsets: false,
                    limit: function( ){
                   
                        return  $( "#footer" ).offset( ).top - $( "#wizard_cart_wrapper" ).outerHeight( ) - 100;
                    },
                    
                    unfixed : function( ){
                                                           
                        var $wrapper = $( "#wizard_cart_wrapper" );
                        
                        if( $wrapper.css( "position" ) === "absolute" )
                            $wrapper.css({ top: ( parseInt( $wrapper.css( "top" ), 10 ) + 80 ) + "px" });
                                                            
                    }
                });
        
        }
    );        

                    
                }
            
            };            
    </script>
    <script data-main="./lib/config.js" src="./vendor/requirejs/require.js"></script>
        <!-- /master#scripts -->
    
    </body>
</html>